<div class="container my-5">
    <div id="wrapper" class="py-5">
        <div class="row">
            <div class="col-12">
                <center><img src="assets/img/burger.png" alt="burger" width="200" class="center-block"></center>
                <h1>Eat the Burgers</h1>
            </div>
        </div>

        {{#if burgers}}
        <div class="row mx-5 my-2">
            <div class="col-md-6 col-sm-12">
                <h2>Uneaten Burgers</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless eaten}}
                    {{> burger-block}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Burgers Eaten</h2>
                <ul>
                    {{#each burgers}}
                    {{#if eaten}}
                    {{> eaten-block}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-md-4 col-sm-12 mx-auto">
                <h2>Add a Burger</h2>
                <form class="create-form my-3">

                    <div class="form-group text-center">
                        <label for="burger">New Burger:</label>
                        <input type="text" id="burger" name="name">
                        <button type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>